@import 'colors/matugen.css';

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
    font-size: 13px;
}


* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    min-height: 28px;
    background: transparent
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 2px 6px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 45px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @bg0;
    padding: 2px 10px;
    margin: 0 4px;
    border-radius: 45px;
    border: 1px solid @bg1;
}

#clock {
    color: @blue;
}

#custom-notification {
    color: @fg;
    margin: 0 12px 0 0;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @purple;
}

#battery {
    color: @green;
}